*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", "sans-serif";
}

@keyframes diagonal {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-60%, -60%);
    }
}

@keyframes cimaBaixo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(0);
    }
}

body {
    background-color: rgb(220, 220, 230);
}

.top-banner {
    padding-bottom: 1rem;
}

.cabecalho-principal {
    display: flex;
    flex-direction: column;
}

.background-show {
    background-image: radial-gradient(circle at 100% 90%, #000 39%, #781c1c 40%);
    padding: 2rem;
}

.container-foto-principal {
    width: clamp(11.25rem, 25vw, 17.25rem);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

.container-foto-principal::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 80%;
    height: 80%;
    animation: diagonal 7s infinite alternate;
    border-radius: 50%;
}

.container-foto-principal img {
    width: 100%;
    height: 100%;
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    animation: cimaBaixo 7s infinite alternate;
}

.cabecalho-principal-t {
    font-size: clamp(1rem, 3vw, 4rem);
    font-family: 'Tomorrow', Courier, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 1rem;
    color: white;
    background-color: black;
}

.bloco-autoral{
    padding: 1.25rem;
    background-color: rgb(122, 7, 7);
    font-family: "Playfair Display", Arial, sans-serif;
    margin-bottom: 2rem;
}

.frase-autoral {
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.frase-autoral + cite{
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 0.9rem; 
}

.main-menu {}

.hamburguer-button {
    font-size: 1rem;
    border: none;
}

.hamburguer-button .icon {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.hamburguer-button[aria-expanded="false"] .icon::before {
    content: "\2630";
}

.hamburguer-button[aria-expanded="true"] .icon::before {
    content: "\2715";
}

.lista-secao {
    list-style-type: none;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    display: flex;

    li {
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}