*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", "sans-serif";
}

@keyframes diagonal {
    0% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-60%, -60%);
    }
}

@keyframes cimaBaixo {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15%);
    }

    100% {
        transform: translateY(0);
    }
}

body {
   background: radial-gradient(circle at center, #7a1919 30%, #0f0f0f);
    background-attachment: fixed;
    color: white;
}

section{
    margin-bottom: 1rem;
     h2{
        font-family: "Tomorrow", Courier, monospace;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 1rem;
    }
}

.cabecalho-principal {
    display: flex;
    flex-direction: column;
}

.background-show {
    background-image: radial-gradient(circle at 100% 110%, #000 39%, rgb(78, 0, 0) 40%);
    padding: 2rem;
}

.container-foto-principal {
    width: clamp(11.25rem, 25vw, 17.25rem);
    aspect-ratio: 1 / 1;
    overflow: hidden;
    padding: 2rem;
    position: relative;
    z-index: 1;
}

.container-foto-principal::before {
    content: "";
    background-color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    width: 80%;
    height: 80%;
    animation: diagonal 7s infinite alternate;
    border-radius: 50%;
}

.container-foto-principal img {
    width: 100%;
    height: 100%;
    display: block;
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
    animation: cimaBaixo 7s infinite alternate;
}

.cabecalho-principal-t {
    font-size: clamp(1rem, 3vw, 4rem);
    font-family: 'Tomorrow', Courier, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    padding: 2rem 1rem;
    color: white;
    background-color: black;
}

.bloco-autoral{
    padding: 1.25rem;
    background-color: rgb(78, 0, 0);
    font-family: "Playfair Display", Arial, sans-serif;
    margin-bottom: 2rem;
}

.frase-autoral {
    display: inline-block;
    font-style: italic;
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.frase-autoral + cite{
    display: block;
    text-align: right;
    font-style: italic;
    font-size: 0.9rem; 
}

.main-menu {
    position: relative;
}

.hamburguer-button {
    display: flex;
    border: none;
    background-color: transparent;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    margin: 1rem 0 1rem 0.5rem;
    outline: 2px solid black;
    outline-offset: 1px;
    align-items: center;
    justify-content: center;
    .icon{
        font-size: 1rem;
    }
}


.hamburguer-button[aria-expanded="false"] .icon::before {
    content: "\2630";
}

.hamburguer-button[aria-expanded="true"] .icon::before {
    content: "\2715";

}

.lista-secao {
    list-style-type: none;
    position: absolute;
    top: -20%;
    left: 10%;
    display: flex;
    outline: 4px groove black ;
    outline-offset: -2px;
    gap: 0.75rem;
    padding: 0.5rem;
    transition: all 1s ease-in;
    li {
        
        a {
            text-decoration: none;
            color: inherit;
        }
    }
}

.hamburguer-button[aria-expanded="false"] + .lista-secao{
    opacity: 0;
    visibility: hidden;
}

.hamburguer-button[aria-expanded="true"] + .lista-secao{
    opacity: 1;
    visibility: visible;
    transform: translateX(10%)
}

#sobmim{
    p{
       text-align: center;
       display: inline-block;
       border: #000 solid 4px;
       
       line-height: 1.5;
       margin: 0rem 1rem 1rem;
       padding: 0.5rem; 
       background-image: linear-gradient(to bottom right, #1a1a1a, #3c0d0d, #2b2b2b);
    }
}

.fa-brands{
    font-size: 4rem;
    color: #e34c26
}